<div class="jumbotron form-group">
    <form class="completed" id="make_post">
        <div class="content-block">
            <label for="comment pull-left">Make new post:</label>
            <button class="btn text-center pull-right" type="submit">Submit post</button>
            <hr style="clear:both;"/>
        </div>
        <input type="text" class="form-control" id="title" name="title" placeholder="Post Title" required autofocus style="margin:5px 0px;">
        <textarea class="form-control" rows="5" id="text" name="text" placeholder="Enter post text here..." required></textarea>
    </form>
</div>